@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --clr-purple: #9438f1c5;
    --clr-blue-mid: #1170CD;
    --clr-blue-dark: #1A1C6A;
    --clr-white: #fff;
    --clr-black: #23242a;
    --clr-dark: #1e2532;
    --clr-black: #000;
    --clr-grey: #656e83;
    --clr-green: #084C41;
    --font-poppins: 'Poppins', sans-serif;
    --font-manrope: 'Manrope', sans-serif;;
    --transition: all 300ms ease-in-out;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: var(--font-poppins);
    background-color: var(--clr-black);
}

button{
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    font-family: inherit;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
}
/* fonts */
.font-poppins{font-family: var(--font-poppins);}
.font-manrope{font-family: var(--font-manrope);}

/* text colors */
.text-purple{color: var(--clr-purple)} 
.text-blue{color: var(--clr-blue);}
.text-blue-mid{color: var(--clr-blue-mid);}
.text-blue-dark{color: var(--clr-blue-dark);}
.text-black{color: var(--clr-black);}
.text-dark{color: var(--clr-dark);}
.text-grey{color: var(--clr-grey);}
.text-white{color: var(--clr-white);}

/* backgrounds */
.bg-blue{background-color: var(--clr-blue);}
.bg-blue-mid{background-color: var(--clr-blue-mid);}
.bg-blue-dark{background-color: var(--clr-blue-dark);}
.bg-black{background-color: var(--clr-black);}
.bg-dark{background-color: var(--clr-dark);}
.bg-grey{background-color: var(--clr-grey);}
.bg-white{background-color: var(--clr-white);}
.bg-black{background-color: var(--clr-black);}
.bg-green{background-color: var(--clr-green);}

.text-center{ text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-uppercase{text-transform: uppercase;}
.text-lowercase{text-transform: lowercase;}
.text-capitalize{text-transform: capitalize;}
.text{
    color: var(--clr-white);
    opacity: 0.9;
    margin: 2rem 0;
    line-height: 1.6;
}

.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}

.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-19{font-size: 19px;}
.fs-20{font-size: 20px;}
.fs-21{font-size: 21px;}
.fs-22{font-size: 22px;}
.fs-23{font-size: 23px;}
.fs-24{font-size: 24px;}
.fs-25{font-size: 25px;}

.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.6rem;
}

/* bars button */
.bars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16.5px;
    width: 25px;
}
.bars .bar{
    width: 100%;
    height: 2px;
    background-color: var(--clr-purple);
    transition: var(--transition);
}

.bars:hover .bar{
    background-color: var(--clr-dark);
}

/* buttons */
.btn{
    font-size: 14.5px;
    font-weight: 600;
    padding: 1.4rem 1.6rem;
    border-radius: 4px;
    display: inline-block;
}

.btn-primary{
    background-color: var(--clr-purple);
    color: var(--clr-white);
    border: 1px solid var(--clr-purple);
    transition: var(--transition);
}

.btn-primary:hover{
    background-color: #7632b9c5;
    color: #23242a;
}

.btn-group button:first-child, .btn-group a:first-child{
    margin-right: 1rem!important;
}



.brand{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    position: absolute;
    top: 20px;
    left: 20px;
}
.brand-text{
    color: var(--clr-purple);
    font-weight: 600;
}
.brand-text span{
    color: var(--clr-white);
}
.brand-icon{
    width: 25px;
    margin-right: 6px;
    opacity: 0.8;
}
.brand-and-toggler{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
}
.header-content{
    margin-top: 30px;
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
}
.lg-title{
    margin: 1.4rem 0;
    font-size: 37px;
    line-height: 1.4;
    color: var(--clr-white);
}
.header-content p{
    margin-bottom: 2.6rem;
    line-height: 1.6;
}
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 3.2rem;
}
.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #9438f1c5,#9438f1c5);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #9438f1c5,#9438f1c5);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #36373b;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2 {
    color: #9438f1c5;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;   
}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    background: transparent;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputBox input:valid ~ span,.inputBox input:focus ~ span {
    color: #9438f1c5;
    transform: translate(0px) translateY(-34px);
    font-size: 0.75em;
}
.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #9438f1c5;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:valid ~ i,.inputBox input:focus ~ i {
    height: 44px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.links a:hover,.links a:nth-child(2){
    color: #9438f1c5;
}
.submit-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
input[type="submit"] {
    border: 1px solid #9438f1c5;
    outline: none;
    background-color: var(--clr-purple);
    color: var(--clr-white);
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
    
}
input[type="submit"]:hover {
    background: #7632b9c5;
    color: #23242a;
}
input[type="submit"]:active {
    opacity: 0.8;
}



/* section one */
.section-one{
    padding: 64px 0;
    min-height: 80vh;
    background-color: var(--clr-black);
    display: flex;
    align-items: center;
    margin-top: -64px;
    margin-bottom: 64px;
}
.section-one-l img{
    max-width: 545px;
    margin-right: auto;
    margin-left: auto;
}
.section-one-r{
    margin-top: 4rem;
    
}

.section-one .btn-group{
    margin-top: 2rem;
}
.section-one-r{
    max-width: 545px;
    margin-right: auto;
    margin-left: auto;
}
.section-one-r .btn-group{
    margin-top: 3rem;
}

/* section two */
.section-two{
    padding: 64px 0;
    background-color: var(--clr-black);
    margin-top: -64px;
    margin-bottom: 64px;
}
.section-two-content{
    text-align: center;
    margin-bottom: 3rem;
}

.section-two-content .text{
    margin-bottom: 2rem;
}

.section-reviews{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
}
.section-review{
    max-width: 350px;
    text-align: center;
    padding: 20px;
    background-color: #36373b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-top: 2rem;
}
.section-review-img img{
    width: 100px;
    margin: 1rem auto;
    border: 2px solid var(--clr-purple);
    border-radius: 4px;
    transition: transform 0.3s ease border-color 0.3s ease;
}
.section-review-img img:hover {
    transform: scale(1.1);
    border-color: var(--clr-white);
}
.section-user-review-name{
    color: var(--clr-purple);
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
}

.section-review .text{
    color: var(--clr-white);
    margin-bottom: 1rem;
}

.function{
    color: var(--clr-purple);
    font-style: italic;
}

/* footer */
.footer{
    padding: 3rem 0;
}
.footer-content p{
    color: var(--clr-grey);
}
.footer-content p span{
    color: var(--clr-white);
}

/* media queries */
@media screen and (min-width: 768px){
    .section-two .section-items{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .section-one-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
    .section-one-r{
        text-align: left;
    }
    .section-two .section-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .section-two .section-item{
        text-align: left;
    }
    .section-two .section-item-icon img{
        margin-left: 0;
    }
}

/* template page*/
.section-template{
    padding: 64px 0;
    background-color: var(--clr-black);
    height: 100%; /* Take full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1200px;
    padding: 20px;
}


.main-title{
    margin: 1.4rem 0;
    font-size: 37px;
    line-height: 1.4;
    color: var(--clr-white);
    text-align: center;
}
.sub-text {
    color: var(--clr-white);
    opacity: 0.9;
    margin: 2rem 0;
    line-height: 1.6;
    text-align: center;

}

.template-item{
    
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

.template-img{
    margin-bottom: 10px;
}
.template-name{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--clr-purple);
}




/* resume page */
#about-sc{
    padding: 64px 0;
}

.cv-form-row-title{
    background-color: var(--clr-purple);
    padding: 0.8rem 1.6rem;
    margin-bottom: 2rem;
}

.cv-form-row-title h3{
    color: var(--clr-white);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.7rem;
}
.cv-form-blk{
    margin: 3rem 0;
}
.cv-form-row{
    padding: 3rem 2rem 0 2rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
    position: relative;
}
textarea{
    resize: none;
}
.form-elem{
    margin-bottom: 3rem;
    position: relative;
}
.form-label{
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: var(--clr-white);
    margin-bottom: 0.5rem;
}
.form-control{
    border-radius: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 0.8rem 1.6rem;
    font-family: inherit;
    width: 100%;
    outline: 0;
    transition: var(--transition);
}

.form-control:focus{
    border-color: rgba(0, 0, 0, 0.3);
}
.form-text{
    color: #656e83;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0.5px;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
}
.cols-3, .cols-2{
    display: grid;
}
.repeater-add-btn{
    width: 25px;
    height: 25px;
    background-color: #656e83;
    font-size: 1.6rem;
    color: var(--clr-white);
    margin: 1rem 0;
}
.repeater-remove-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #656e83;
    color: var(--clr-white);
    font-size: 1.6rem;
}

/* preview section */
.preview-cnt{
    border-radius: 5px;
    display: grid;
    grid-template-columns: 32% auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
}

.preview-cnt-l{
    padding: 3rem 3rem 2rem 3rem;
}
.preview-cnt-r{
    padding: 3rem 3rem 3rem 4rem;
}
.preview-cnt-l .preview-blk:nth-child(1){
    text-align: center;
}
.preview-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
.preview-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.preview-item-name{
    font-size: 2.4rem;
    font-weight: 600;
    margin: 1.8rem 0;
    position: relative;
}
.preview-item-name::after{
    position: absolute;
    content: "";
    bottom: -10px;
    width: 50px;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 50%;
    transform: translateX(-50%);
}
.preview-blk{
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.preview-blk-title h3{
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 0.5rem;
}
.preview-blk-title{
    margin-bottom: 1rem;
}
.preview-blk-list .preview-item{
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    opacity: 0.95;
}
.preview-cnt-r .preview-blk-title{
    color: var(--clr-dark);
}
.preview-cnt-r .preview-blk-list .preview-item{
    margin-top: 1.8rem;
}

.achievements-items.preview-blk-list .preview-item span:first-child,
.educations-items.preview-blk-list .preview-item span:first-child,
.experiences-items.preview-blk-list .preview-item span:first-child{
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.03);
}

.educations-items.preview-blk-list .preview-item span:nth-child(2),
.experiences-items.preview-blk-list .preview-item span:nth-child(2){
    font-weight: 600;
    margin-right: 1rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(3),
.experiences-items.preview-blk-list .preview-item span:nth-child(3){
    font-style: italic;
    margin-right: 1rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(4),
.educations-items.preview-blk-list .preview-item span:nth-child(5),
.experiences-items.preview-blk-list .preview-item span:nth-child(4),
.experiences-items.preview-blk-list .preview-item span:nth-child(5){
    margin-right: 1rem;
    background-color: var(--clr-green);
    color: var(--clr-white);
    padding: 0 1rem;
    border-radius: 0.6rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(6),
.experiences-items.preview-blk-list .preview-item span:nth-child(6){
    font-size: 13.5px;
    display: block;
    opacity: 0.8;
    margin-top: 1rem;
}
.projects-items.preview-blk-list .preview-item span{
    display: block;
}

@media screen and (min-width: 768px){
    .cols-3{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
    .cols-2{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .cv-form-row{
        padding: 3rem 3rem 0rem 3rem;
    }
    .cols-3{
        grid-template-columns: repeat(3, 1fr);
    }
}

.print-btn-sc{
    margin: 2rem 0 6rem 0;
}

/* print section */
@media print{
    body *{
        visibility: hidden;
    }

    .non_print_area{
        display: none;
    }

    .print_area, .print_area *{
        visibility: visible;
    }

    .print_area{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
}